RATE_LIMIT_ENABLED=true
RATE_LIMIT_CAPACITY=20
RATE_LIMIT_REFILL_PERIOD_S=60

JWT_SECRET=example-secret-that-is-long-enough-for-hs256-signing-123
JWT_TIME_TO_LIVE_S=0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=example-database-name
POSTGRES_USER=example-user
POSTGRES_PASSWORD=example-password

REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_ENABLED=true
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_OUTBOX_PUBLISH_DELAY_MS=5000
